@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Lora;
}

/* HEADER  */

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 13vh;
    background-color:transparent;
    z-index: 10
}

.titulo{
    color: rgb(156, 156, 156);
    font-size: 2.5rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link{
    border: 2px solid;
    border-radius: 10px;
    padding: 5px;
    color: rgb(156, 156, 156);
}

.navbar{
    display: flex;
    gap: 10px;
}

.navbar1{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 40px;
}


.logo{
    height: 8vw;
    width: auto;
}

header:hover {
    background-color: rgb(56, 56, 56);
    opacity: 0.5;
    transition: 2s;
}

/* MAIN  */

.carousel {
    width: 100%;
    height: 100vh;
}

.img-car {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 100vh;
    width: 100%;
}

.reserva {
    color: rgb(156, 156, 156);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;

}

.presentacion {
    margin: 30px;
}

.bodegon {
    display: flex;
    margin: 20px;
    padding: 30px;
    text-align: center;
    border: 3px solid black;
    
    background-color: gray;
}

.somos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-content: center;
    /* background-color: gray; */

}

.p-home{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    /* color: skyblue; */
}

.ejemplo-comida{
    display: grid;
    grid-template-columns: repeat(5, fr);
    justify-items: center;
    align-content: center;
}

.ejemplo-comida-ojo{
    background-color: aquamarine;
}


h3{
    font-size: 1.5rem;
}

p{
    font-size: 1.5rem;
}

li{
    list-style: none;
}

a{
    color: rgb(42, 187, 245);
    text-decoration:none;
    font-size: 1rem;
}

img{
    height: auto;
    width: 20vw;
}

.rrss{
    height: 3vw;
    width: auto;
}

li{
    font-size: 1.1rem;
}

/* FOOTER  */

footer{
    display: flex ;
    justify-content: space-around;
    align-items: center;
    background-color: gray;
    width: 100%;
}

.rslinks{
    display: flex;
    gap: 20px;
    padding: 15px;
}

.rrss-whatsapp{
    position:fixed;
    bottom: 50px;
    right: 50px;
}

/* COCINA */

.cocina {
    display: flex;
    flex-direction: column;

}

.platos{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr))
    ;
    gap: 10px;
    border-radius: 8px;

    align-content: center;
    justify-items:center;
    text-align: center;
    text-decoration-line: underline;
}  

.platos-img {
    border-radius: 8px;
    width: 100;
    height: auto;
    box-shadow: 0px 0px 30px #000300;
}


.a {
    grid-column: 3/4;
}
.b {
    grid-column: 2/3;
}
.c {
    grid-column: 1/2;
}
.d {
    grid-column: 4/5 ;
}

/* CONTACTO */

.contacto {
height: 21vh;
align-items: end;
text-decoration: overline;
color: rgb(139, 38, 38)
}

.maps {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* flex-flow:wrap; */
    align-items: center;
    justify-content: center;
    margin: 30px;

    /* height: 90vh; */

}

.fondonosotros {
    background-color: red;
}

/* CONTACTO  */

.formulario {
    display: flex;
    flex-flow:column;
    justify-content: center;
    align-items: center;
    margin: 30px;
    border-style: solid;
    border-radius: 3px;
    border-color: rgb(139, 38, 38);
    padding: 70px;
}

.accordion-item {
    width: 100%;
    height: 100%;
    color: rgb(0, 0, 0);
    background-color: rgb(150, 150, 150);
    border: solid;
    border-color: rgb(139, 38, 38);
}

/* .accordion-item {
    color: var(--bs-accordion-color);
    background-color: red var(--bs-accordion-bg);
    border: var(--bs-accordion-border-width) solid red var(--bs-accordion-border-color);
} */
