@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Lora;
}

/* HEADER  */

.titulo{
    color: skyblue;
    font-size: 2.5rem;
    text-decoration:underline;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link{
    border: 2px solid;
    border-radius: 10px;
    padding: 5px;
}

.navbar{
    display: flex;
    gap: 10px;
}

.navbar1{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 40px;
}


.logo{
    height: 8vw;
    width: auto;
}


header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: transparent
}

/* BODY  */

body{
    background-image: url(../assets/fondomilanesa.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.home{
    display: flex;
    flex-flow: column wrap;
    justify-content:center;
    align-items: center;
    padding: 100px;
}

.p-home{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    color: skyblue;
}

.mila{
    display: flex;
    /* flex-flow: wrap; */
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    background-color: rgb(175, 175, 175)
}

/* .ojo{
    background-image: url(../assets/fondomilanesa.png);
} */

.platos{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

h3{
    font-size: 1.5rem;
}

p{
    font-size: 1.5rem;
}

li{
    list-style: none;
}

a{
    color: rgb(42, 187, 245);
    text-decoration:none;
    font-size: 1rem;
}

img{
    height: auto;
    width: 20vw;
}

.rrss{
    height: 3vw;
    width: auto;
}

li{
    font-size: 1.1rem;
}

/* FOOTER  */

footer{
    display: flex ;
    justify-content: space-around;
    align-items: center;
}

.rslinks{
    display: flex;
    gap: 20px;
}

.rrss-whatsapp{
    position:fixed;
    bottom: 50px;
    right: 50px;
}